html, body {
  height: 100%;
}

.pagina_conteiner {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.pagina_cabecalho {
  background-color: #0099ff;
  display: flex;
  flex: 1;
  flex-direction: row;
  font-family: "Montserrat", sans-serif;
  width: 100%;
}

.pagina_cabecalho h1 {
  display: flex;
  flex: 1;
  padding: 1vw;
}

.pagina_cabecalho nav {
  align-items: center;
  display: flex;
  flex: 4;
  flex-wrap: wrap;
  justify-content: end;
  padding: 1vw;
  width: 100%;
}

.pagina_cabecalho nav ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  list-style-type: none;
}

.pagina_cabecalho nav ul li {
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
  padding: 1vw;
}

@media screen and (max-width: 768px) {
  .pagina_cabecalho h1 {
    flex: 2;
  }

  .pagina_cabecalho nav {
    flex: 1;
  }
  
  .pagina_cabecalho nav ul {
    justify-content: center;
  }
}

#pagina_minha_lista,
#pagina_novo_item {
  display: none;

}

.pagina_corpo {
  display: flex;
  flex: 10;
  flex-direction: column;
  width: 100%;
}

.pagina_corpo section {
  display: flex;
  padding: 1vw;
  flex-wrap: wrap;
}

.pagina_corpo section h2 {
  display: flex;
  font-family: "Montserrat", sans-serif;
  width: 100%;
}

table {
  font-family: "Montserrat", sans-serif;
  margin-top: 1vw;
  width: 100%;
}

td, th {
  text-align: center;
  padding: 0.5vw;
  border: 1px solid black;
}

label, input {
  display: flex;
  padding: 0.5vw;
  font-family: "Montserrat", sans-serif;
}

label {
  margin-top: 3vw;
}

input[type="submit"] {
  background-color: #0099ff;
  border: none;
  color: white;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  padding: 1vw;
  margin-top: 1vw;
}

.pagina_rodape {
  display: flex;
  justify-content: center;
  flex: 1;
  width: 100%;
}

.pagina_rodape p {
  display: flex;
  font-family: "Open Sans", sans-serif;
  padding: 1vw;
}

.pagina_ativa {
  color: #ffffff;
  font-weight: 700;
}
